doctype html
html
  head
    title= '雨中漫步'
    meta(http-equiv="Content-Type", content="text/html; charset=utf-8")
    meta(name="viewport", content="user-scalable=no, initial-scale=1.0, maximum-scale=1.0")
    link(rel='stylesheet', href='//lib.sinaapp.com/js/bootstrap/v3.0.0/css/bootstrap.min.css')
    link(rel='stylesheet', href='//lib.sinaapp.com/js/bootstrap/v3.0.0/css/bootstrap-theme.min.css')
    script(src="http://lib.sinaapp.com/js/jquery/1.10.2/jquery-1.10.2.js")
    script(type="text/javascript").
      var countries = !{JSON.stringify(countries)};
      var date = !{JSON.stringify(date)};
      var finished = !{JSON.stringify(finished)};
    script(src="public/client.js")
  body
    .container
      - var totalspan = '<span id="total"></span>';
      - var foundspan = '<span id="found"></span>';
      - var notfoundspan = '<span id="notfound"></span>';
      - var refreshspan = '<span id="refreshedat"></span>';
      p.
        总共 !{totalspan} 已设立 !{foundspan} 未设立 !{notfoundspan} 更新于 !{refreshspan}
      div
        label.
          只显示未设立
        input(id='foundFilter' type='checkbox')
      table.table.table-bordered.table-hover
        thead
          tr
            td.
              国家
            td.
              地点
        tbody
        
